// colors
$white: #fff;
$black: #000;
$primary-color: #002d70;
$secondary-color: #7c2ae8;
$tertiary-color: #f66e1a;
$primary-bg-color: $white;


//font sizes
$xsm-font: .8em;
$sm-font: 1.1em;
$md-font: 1.5em;
$lg-font: 3em;
$xlg-font: 5em;
$light-font:300;

// positioning
$navbar-content-margin: 160px;

// font styles
$poppins: 'Poppins', sans-serif;


// screen widths
$max-screen-width: 1400px;